# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDlfkCiSdJqo_H742a4Y_l2fjKG7EmaI4A
VITE_FIREBASE_AUTH_DOMAIN=cart-11fbe.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cart-11fbe
VITE_FIREBASE_STORAGE_BUCKET=cart-11fbe.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=816862038718
VITE_FIREBASE_APP_ID=1:816862038718:web:8fbf05d37cdfbdddc2ecef

